/* Name Badge Styling */

#label {
    color: #000000;
}
#input {
    color: #808088;
}
#submit {
    background-color: #808088;
    color: #000000;

}
#nameBadge {
    margin: 20px;
    position: absolute;
    margin: 0 auto;
    background: #F00;
    border: 1px solid #F00;
    border-radius: 20px;
    width: 450px;
    height: 350px;
    margin-top: 30px;
    box-align: center;
    z-index: 1;
}
#hello {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    font-weight: bold;
    border: none;
    color: #ffffff;
    position: absolute;
    box-align: top;
    text-align: center;
    width: 450px;
    height: 50px;
    margin-top: 25px;
    z-index: 3;
}
#myNameIs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    border: none;
    padding-top: 10px;
    color: #ffffff;
    text-align: center;
    width: 450px;
    height: 55px;
    box-align: top;
    position: absolute;
    margin-top: 78px;
    z-index: 4;
}
@font-face {
    font-family: permanentMarker;
    src: url(PermanentMarker.ttf)
}
#name {
    line-height: 190px;
    font-family: permanentMarker;
    font-size: 80px;
    color: #000000;
    width: 440px;
    height: 200px;
    border: 5px solid #F00;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    margin-top: 155px;
    text-align: center;
}